.container {
  width: 100vw;
  position: relative;
}

.header {
  background-color: var(--black-800);
  height: 7rem;
  position: relative;
  width: 100%;
  color: var(--white);

  & > div {
    align-items: center;
    display: flex;
    height: 90%;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    padding: 1rem 1rem;

    & div {
      text-align: right;
    }

    img {
      width: 100px;
    }
  }

  &::after {
    position: absolute;
    background-color: var(--orange-900);
    content: '';
    height: 10%;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.companyDetails {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  padding: 2rem 1rem 0;
}

.paymentDetails {
  & > strong {
    margin-bottom: 1rem;
    display: block;
  }

  &:nth-of-type(2) {
    text-align: right;
  }
}

.tableContent {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  padding-bottom: 2rem;

  th {
    color: var(--text-body);
    font-weight: 400;
    padding: 1rem 2rem;
    line-height: 1.5rem;
  }

  tfoot tr {
    background-color: var(--black-800);
    color: var(--white);
    font-weight: 800;
  }

  tbody tr {
    height: 8rem;
    td {
      &:first-child {
        background-color: var(--grey-300);
      }
      &:last-child {
        background-color: var(--grey-300);
      }
    }
  }

  td {
    padding: 1rem 2rem;
    border: 0;
  }
}

.tableHeader {
  background-color: var(--black-800);
  color: var(--white);
  margin: auto;
  max-width: 1100px;
  border: solid 1px red;
  font-weight: 800;

  & th {
    padding: 1rem 2rem;
  }
}

section {
  max-width: 1100px;
  max-width: 1200px;
  padding: 2rem 1rem;
  margin: auto;
}

.footer {
  width: 100%;
  height: 40px;
  background-color: var(--orange-900);
  position: relative;
  transform: translateY(200%);

  &::after {
    content: '';
    background-color: var(--black-800);
    width: 100%;
    height: 40%;
    position: absolute;
    z-index: 99;
    bottom: 0;
  }
}
